.container{
   
}

.card{
    border:1px solid red;
    margin: 0 auto;
    width: fit-content;
    /* background-image: url('../../data/night.gif');  */
    background-size: cover;
    color:white;
    width:500px;
    height:500px;
    text-align: center;
}
/* 
img{
    width:500px;
    height:500px;
} */