
   .tableContainer {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
   position: relative;
  }
  
  .table {
    width: auto; /* Allow table to expand beyond container width */
    table-layout: fixed; /* Fix table layout */
    border-collapse: collapse;
    margin: 0 auto;
    border:1px solid #ccc;
  
  }
  
  .table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff; /* Ensure the background color is white to cover the content */
  }
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
  }
  
  /* Define styles for table header cells */
  .table th {
    background-color:#FFAF45;
    font-weight: bold;
  }
  
  /* Define styles for even rows */
  /* .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  
  /* Define styles for table cell alignment */
  .table td.align-right,
  .table th.align-right {
    text-align: right;
  }
  
  tbody tr:hover {
    background-color: #f5d2a4;
  }

  /* Define responsive styles */
  